node_modules/
bower_components/
build/
tests/runner/reports/
html-report/
#IDE Specific files

#SublimeText
*.sublime-project
*.sublime-workspace
.DS_Store

#IntelliJ
.idea/
*.iml
atlassian-ide-plugin.xml

#Eclipse
.project

#Phantomjs
phantomjsdriver.log

#Test Report & Code Coverage
cobertura-coverage.xml
lcov.info
report.xml
